
:root {
  --bgColor: #8E806A;
  --fontStyle: monospace, Verdana, Tahoma, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--fontStyle);
  background-color: var(--bgColor);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px;
}

div:has(h1) {
  /* flex-grow: 1; */
}
div:has(button) {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
button {
  background-color: var(--bgColor);
  font-family: var(--fontStyle);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  transition: .3s;
}
button:hover {
  transform: scale(1.2);
  text-decoration: underline;
}