
:root {
  --bgColor: #8E806A;
  --txtColor: #FFE6BC;
  --fontStyle: monospace, Verdana, Tahoma, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--fontStyle);
  background: url(./bg.jpg);
  background-color: var(--bgColor);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  /* background-color: var(--bgColor); */
  color: var(--txtColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 auto;
  height: 10vh;
}
div:has(h1) {
  /* flex-grow: 1; */
  margin-left: 50px;
  font-style: italic;
}
h1 {
  margin: 10px 20px;
  font-size: 2.5em;
}
div:has(button) {
  /* margin-left: auto; */
  display: flex;
  flex-grow: 2;
  gap: 50px;
  height: 100%;
}
button {
  background-color: transparent;
  color: var(--txtColor);
  font-family: var(--fontStyle);
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  font-size: 17px;
  width: 25%;
  transition: .3s;
  height: 105%;
  border-radius: 10px 10px 0 0;
}
button:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
.btnClk:focus {
  background-color: var(--bgColor);
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: clamp(30%, 50vh, 100%);
}
.tabContent {
  background-color: var(--bgColor);
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}